<div class="mb-3 p-4 border rounded-lg">
  <h4 class="text-2xl font-bold">
    <%= link_to post.name, '#' %>
  </h4>
  <ul class="list-inline">
    <li><i class="bi bi-person"></i><%= post.user.name %></li> <!-- 投稿者名 -->
    <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li> <!-- 投稿日時 -->
  </ul>
  <p>本文</p> <!-- 投稿の本文 -->
  <div class="mt-2">
    <!-- 編集ボタン -->
    <%= link_to '#', id: "button-edit-#{post.id}" do %>
      <i class="bi bi-pencil-fill"></i> 編集
    <% end %>
    <!-- 削除ボタン -->
    <%= link_to '#', id: "button-delete-#{post.id}", method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
      <i class="bi bi-trash-fill"></i> 削除
    <% end %>
  </div>
</div>
