<!DOCTYPE html>
<html>
  <head>
    <title>Biten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="w-full">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </div>

    <div class="flex-grow container mx-auto"> 
      <div id="flash">
        <%= render 'shared/flash_message' %>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

  </body>
</html>
